

.addButton {
  width: 10%;
  flex-shrink: 0;
  border-radius: 8px;
  min-height: 106px;
  box-shadow: 0 2px 6px 1px #e1e5e8;
  margin-bottom: 14px;
  border: 1px dotted #fff;
  padding: 10px 20px;
  transition: box-shadow .2s ease-in-out;
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  opacity: 60%;

  &:hover {
    box-shadow: 0 2px 6px 1px #c4c8cb;
    opacity: 100%;
  }

  &.completed {
    opacity: 30%;
  }
}