
.appHeader {
  font-size: 28px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.apiKeyInput {
  grid-column: 1;
}

.appTitle {
  align-self: center;
  justify-self: center;
  grid-column: 2;
}