
.todoList {
  display: flex;
  flex-wrap: wrap;
  >li {
    margin: 10px;
  }
}

.todoListContainer {
  // background-color: #a89d9d;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}